{% extends "master.html" %}
{% load static %}
{% block content %}
  <div style="padding-top:100px; padding-left:30px;padding-right: 30px;">
      <div class="card">
          <div class="card-header">User Details</div>
          <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in user%}
                  <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.mobile}}</td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}